<form class="form-inline">
  <button type="submit" 
  class="btn btn-primary"
  (click)=onHae(a.value)>Hae</button>
  <input 
  type="number" 
  class="form-control" 
  id="number" 
  name="number"
  placeholder="esim. (10)"
  #a>
  <label for="number">Montako pelaajaa haetaan?</label>
</form>

<table class="table table-bordered">
  <tr>
    <th (click)="sortTulokset('sija')">Sija</th>
    <th *ngFor="let otsikko of otsikot" (click)="sortTulokset(otsikko)">{{otsikko}}</th>
  </tr>
<div 
*ngIf="serverError"
class="alert alert-danger">
{{serverError}}

</div>
  <tr
  *ngFor="let rivi of testArray; index as i;">
    <td *ngIf="!reversed">{{i+1}}</td>
    <td *ngIf="reversed">{{testArray.length-i}}</td>
    <td *ngFor="let otsikko of otsikot">{{rivi[otsikko]}}</td>
  </tr>
</table>
