<nav class="nav nav-tabs my-2 bg-light rounded">
  <div class="d-flex justify-content-between" style="width: 100%;">

  <div class="navbar" id="navbarSupportedContent">
    <ul class="nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" 
        routerLinkActive="active" 
        routerLink="/pelaajat">Pelaajat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" 
        routerLinkActive="active" 
        routerLink="/joukkueet">Joukkueet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" 
        routerLinkActive="active" 
        routerLink="/tuomarit">Tuomarit</a>
      </li>
    </ul>
  </div>

  <button 
  type="button"
  class="btn nav-item"
  (click)="onPiilotaValikko()">{{(piilotaValikko|async).piilotus ? 'Piilota Valikko' : 'Näytä Valikko'}}</button>
</div>
</nav>