<nav class="nav nav-tabs my-2 bg-light rounded">
  
  
  <div class="navbar-collapse" id="navbarSupportedContent">
    
    <ul class="nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" 
        routerLinkActive="active" 
        routerLink="/"
        [routerLinkActiveOptions]="{exact:true}">PesisStats</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" 
        routerLinkActive="active" 
        routerLink="/pelaajat">Pe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" 
        routerLinkActive="active" 
        routerLink="/joukkueet">Jo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" 
        routerLinkActive="active" 
        routerLink="/mvpelaajat">MVPelaajat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" 
        routerLinkActive="active" 
        routerLink="/mvjoukkueet">MVJoukkueet</a>
      </li>

    </ul>
  </div>
</nav>