<div>
  <form class="form-inline">
    <button 
    type="button"
    (click)="onEdellinen()"
    class="btn btn-outline-primary"
    >Edelliset
    </button>
  
    <label for="number">Montako pelaajaa haetaan?</label>
    <select 
    class="custom-select"
    name="montako" 
    id="montako"
    [(ngModel)]="montako">
      <option value="10">10</option>
      <option value="100" >100</option>
      <option value="1000">1000</option>
    </select>
    <button 
    type="button"
    (click)="onSeuraava()"
    class="btn btn-outline-primary"
    >Seuraavat
    </button>
  </form>
</div>
<div>
  Näytetään {{ensimmainen}}-{{(+montako)+(+ensimmainen)}}/{{kokoArray.length}}
</div>

<table class="table table-bordered">
  <tr>
    <th (click)="sortTulokset('sija')"
    [ngClass]="{'active': jarjestetty=='sija'}" >Sija</th>
    <th *ngFor="let otsikko of otsikot" 
    (click)="sortTulokset(otsikko)"
    [ngClass]="{'active': jarjestetty==otsikko}">{{otsikko}}</th>
  </tr>
<div 
*ngIf="serverError"
class="alert alert-danger">
{{serverError}}

</div>
  <tr
  *ngFor="let rivi of viewArray; index as i;">
    <td *ngIf="!reversed">{{ensimmainen+i+1}}</td>
    <td *ngIf="reversed">{{kokoArray.length-i}}</td>
    <td *ngFor="let otsikko of otsikot">{{rivi[otsikko]}}</td>
  </tr>
</table>
