<div class="viewportdiv tablediv" id="viewportdiv">
  <table id="datataulu">
    <div 
    class="wrapper headwrapper"
    #scrollOne
    >
      <thead
        #tableHeadd
        id="tablehead">
          <tr>
            <th>#</th>
            <th *ngFor="let otsikko of otsikot, index as i," 
            (click)="sortData(otsikko)"
            [ngClass]="{
            'desc-sort': otsikko==jarjestetty&&(!reversed),
            'asc-sort': otsikko==jarjestetty&&reversed
          }"
          [id]="i == otsikot.length-1 ? 'viimeinenotsikko':''"
          >{{otsikko}}</th>
        </tr>
      </thead>

    </div>
    <div 
    class="wrapper bodywrapper"
    (scroll)="
    setScroll(scrollTwo.scrollLeft);
    tableHeadd.style.left = '-'+scrollTwo.scrollLeft.toString()+'px';
    "
    id="bodyscroll"
    #scrollTwo
    >
        <tbody
        
        id="body">
          <tr
          *ngFor="let rivi of data | filter:(filters|async) | paginator:(pagination|async); index as i;">
          <td 
          [ngClass]="{
            'pariton': i%2==1,
            'parillinen' : i%2==0
          }">
            {{i+1+(((pagination|async).currentPage-1)*(pagination|async).show)}}
          </td>
          <td *ngFor="let otsikko of otsikot; index as io," 
          [ngClass]="{
              'pariton': i%2==1,
              'parillinen' : i%2==0,
              'sorted' : otsikko===jarjestetty,
              'otsikollinen' : true
          }"
          [id]="io == otsikot.length-1 && i == 0 ? 'viimeinen':''">
          {{rivi[otsikko]}}</td>
        </tr>
        </tbody>
      </div>
  </table>
</div>



