
<thead [ngStyle]="{'left': theadoffset}" *ngIf="showSticky"  class="stickyfix" id="tablehead2"
[ngStyle]="{'left': theadoffset}">
  <tr>
    <th id="headers" class="sija">#</th>
    <th *ngFor="let otsikko of otsikot, index as i," 
    (click)="sortData(otsikko)"
    [ngClass]="{  'sticky': i==0,
    'desc-sort': otsikko==jarjestetty&&(!reversed),
    'asc-sort': otsikko==jarjestetty&&reversed,
    'sortattava' : true
  }"
  id="headers"
  >{{otsikko}}</th>
</tr>
</thead>

<div class="viewportdiv" id="viewportdiv" (scroll)="onTableScroll($event)">
  <div class="komp viewportdiv2">
    <div class="xl-col-6 col-12 tablediv">
      <table id="datataulu">
        <thead id="tablehead"  [ngClass]="{'stickyfix': showSticky}">
          <tr>
            <th id="headers" class="sija">#</th>
            <th *ngFor="let otsikko of otsikot, index as i," 
            (click)="sortData(otsikko)"
            [ngClass]="{  'sticky': i==0,
            'desc-sort': otsikko==jarjestetty&&(!reversed),
            'asc-sort': otsikko==jarjestetty&&reversed,
            'sortattava' : true
          }"
          id="headers"
          >{{otsikko}}</th>
        </tr>
      </thead>
      <tbody  id="body">
        <tr
        *ngFor="let rivi of data | filter:filters | paginator:pagination; index as i;"
        [ngClass]="{ 
          
        }">
        <td 
        [ngClass]="{ 
          'pariton': i%2==1,
          'parillinen' : i%2==0,
          'sija' : true
        }">{{i+1+firstRow}}</td>
        <td *ngFor="let otsikko of otsikot; index as io," 
        [ngClass]="{ 
          'sticky': io==0,
          'pariton': i%2==1,
          'parillinen' : i%2==0,
          'sorted' : otsikko===jarjestetty,
          'otsikollinen' : true
        }">
        {{rivi[otsikko]}}</td>
      </tr>
    </tbody>
  </table>
    </div>

  </div>

    <div class="paginator komp">
      <app-paginator></app-paginator>
    </div>
</div>


