.leftbuttons{
    flex-wrap: wrap-reverse;
}
.rightbuttons{
    flex-wrap: wrap;
}
.buttons {
    display: flex;
}
button {
    min-width: 50px;
    width: 100%;
}
.paginator-content {
    text-align: center;
}