<div class="d-flex justify-content-end">
<div class="col-2 leftbuttons buttons">

    <button 
    class="btn btn-primary" 
    [disabled]="1>=(pagination|async).currentPage"
    (click)="onFirstPage()"
    >&lt;&lt;</button>
    <button 
    class="btn btn-primary" 
    [disabled]="1>=(pagination|async).currentPage"
    (click)="onPreviousPage()"
    >&lt;</button>
</div>
    <div class="col-8 paginator-content">

        {{(pagination|async).records}} riviä. Sivu 
        <input 
        type="number" 
        [min]="1" 
        [max]="(pagination|async).pages" 
        [value]="(pagination|async).currentPage" 
        (change)="changePage($event.target.value)"
        >
        /{{(pagination|async).pages}}
        <select 
        name="show" 
        id="show"
        (change)="changeShowCount($event.target.value)"
        >
        <option 
        *ngFor="let opt of showArray" 
        [value]="opt" 
        [selected]="opt===(pagination|async).show"
        >{{opt}} riviä</option>
    </select>
    </div>
    <div class="col-2 rightbuttons buttons">

        <button 
        class="btn btn-primary" 
        [disabled]="(pagination|async).currentPage===(pagination|async).pages"
        (click)="onNextPage()"
        >&gt;</button>
        <button 
        class="btn btn-primary" 
        [disabled]="(pagination|async).currentPage===(pagination|async).pages"
        (click)="onLastPage()"
        >&gt;&gt;</button>
    </div>
        
</div>