<div *ngIf="data">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th *ngFor="let otsikko of otsikot, index as i," 
        (click)="sortTulokset(otsikko)"
        [ngClass]="{ 'sticky': i==0}"
        id="headers"
        >{{otsikko}}</th>
      </tr>
    </thead>
    <tbody >
      <tr
      *ngFor="let rivi of data; index as i;">
        <td *ngFor="let otsikko of otsikot; index as io," 
        [ngClass]="{ 'sticky': io==0}">
        {{rivi[otsikko]}}</td>
      </tr>
    </tbody>
    </table>
  </div>
</div>

<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!loading && errorMessage" class="alert alert-danger">
    {{errorMessage}} {{loading}}
</div>