
<div class="container-fluid mb-2 komp">
  <div class="row">
  <div class="col-8">
    <label for="searchString">Suodata</label>
    <input
    type="text"
    class="form-control"
    name="searchString"
    placeholder="Type to search..."
    [(ngModel)]="searchString"
    />

  </div>
  <div class="col-4">
    <label for="searchColumn">Sarake</label>
    <select 
    name="searchColumn" 
    type="text"
    class="custom-select"
    placeholder="Valitse sarake"
    [(ngModel)]="searchColumn"
    >
      <option
      value=''>
      Kaikki
      </option>
      <option 
      *ngFor="let otsikko of otsikot" 
      [value]="otsikko">
      {{ otsikko }}
      </option>
    </select>
  </div>
</div>
</div>



<thead *ngIf="showSticky" class="stickyfix" id="tablehead2"
[ngStyle]="{'left': theadoffset}">
  <tr>
    <th id="headers" class="sija">Sija</th>
    <th *ngFor="let otsikko of otsikot, index as i," 
    (click)="sortTulokset(otsikko)"
    [ngClass]="{  'sticky': i==0,
    'desc-sort': otsikko==jarjestetty&&(!reversed),
    'asc-sort': otsikko==jarjestetty&&reversed,
    'sortattava' : true
  }"
  id="headers"
  >{{otsikko}}</th>
</tr>
</thead>
<div class="viewportdiv" id="viewportdiv" (scroll)="onTableScroll($event)">
  <div class="komp viewportdiv2">
    <div *ngIf="data && !loading" class="xl-col-6 col-12 tablediv">
      <table id="datataulu">
        <thead id="tablehead"  [ngClass]="{  'stickyfix': showSticky}">
          <tr>
            <th id="headers" class="sija">Sija</th>
            <th *ngFor="let otsikko of otsikot, index as i," 
            (click)="sortTulokset(otsikko)"
            [ngClass]="{  'sticky': i==0,
            'desc-sort': otsikko==jarjestetty&&(!reversed),
            'asc-sort': otsikko==jarjestetty&&reversed,
            'sortattava' : true
          }"
          id="headers"
          >{{otsikko}}</th>
        </tr>
      </thead>
      <tbody  id="body">
        <tr
        *ngFor="let rivi of data | filter:searchString:searchColumn |slice:firstItem:firstItem+show ; index as i;"
        [ngClass]="{ 
          
        }">
        <td 
        [ngClass]="{ 
          'pariton': i%2==1,
          'parillinen' : i%2==0,
          'sija' : true
        }">{{i+1+firstItem}}</td>
        <td *ngFor="let otsikko of otsikot; index as io," 
        [ngClass]="{ 
          'sticky': io==0,
          'pariton': i%2==1,
          'parillinen' : i%2==0,
          'sorted' : otsikko===jarjestetty,
          'otsikollinen' : true
        }">
        {{rivi[otsikko]}}</td>
      </tr>
    </tbody>
  </table>
    </div>

  </div>

    <div *ngIf="data && !loading" class="paginator komp">
      <app-paginator></app-paginator>
    </div>
</div>

<div *ngIf="loading" class="komp">
  <app-spinner></app-spinner>
</div>
<div *ngIf="!loading && errorMessage" class="alert alert-danger komp">
    {{errorMessage}} {{loading}}
</div>


