th {
  background: #007bff;
  color: white;
  text-align: center;
  box-shadow: 1px 2px 2px -1px rgba(0, 0, 0, 0.4);}
.parillinen{background: white;}
.pariton{background: lightgray;}
.parillinen.sorted{background: lightgrey;}
.pariton.sorted{background: darkgray;} 
.desc-sort::after {content: '\2193';}
.asc-sort::after {content: '\2191';}
.desc-sort {background: #0056b3;;}
.asc-sort {background: #0056b3;}

.tablediv {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
  /* width: 100vw; */
}

table {
  position: relative;
}

.paginator {
  height: 13vh;
}

th {
  position: sticky;
  top: 0;
  z-index: 999;
}
th.sija, th.sticky {
  position: sticky;
  z-index: 1000;
}

.stickyfix {
  /* overflow-y: scroll; */
  position: fixed;
  top: 0;
  z-index: 1101;
}
.sija {
  position: sticky;
  left: 0;
  max-width: 40px;
  min-width: 40px;
  z-index: 900;
}
.sticky {
  position: sticky;
  left: 40px;
  z-index: 899;
}
td {
  z-index: 800;
  text-align: center;
}
td.sticky {
  text-align: left;
  box-shadow: 1px 0px 2px -1px rgba(0, 0, 0, 0.4);
}

.sija{
  min-width: 40px;
  max-width: 40px;
}
.sticky{
  min-width: 100px;
  max-width: 100px;
}
td, th{
  min-width: 55px;
  max-width: 55px;
}