table {
  text-align: left;
  position: relative;
}
td {
  top: 57px;
}
.sticky {
  background: lightgray;
  position: sticky;
  left: 0;
}
th, td {
  padding: 0.25rem;
}
th#headers {
  background: white;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
