<nav class="nav nav-tabs my-2 bg-light rounded">
  
  
  <div class="navbar-collapse" id="navbarSupportedContent">
    
    <ul class="nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" 
        routerLinkActive="active" 
        routerLink="/"
        [routerLinkActiveOptions]="{exact:true}">PesisStats</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" 
        routerLinkActive="active" 
        routerLink="/pelaajat">Pelaajat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" 
        routerLinkActive="active" 
        routerLink="/joukkueet">Joukkueet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
        routerLinkActive="active" 
        routerLink="/tilastoselain">Tilastoselain</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" 
        routerLinkActive="active" 
        routerLink="/vertailu">Vertailu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" 
        routerLink="/tuomarit"
        routerLinkActive="active" >Tuomarit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" 
        routerLink="/lyhyt"
        routerLinkActive="active" >LyhytSelain</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" 
        routerLink="/kaikki"
        routerLinkActive="active" >Kaikki</a>
      </li>
    </ul>
  </div>
</nav>